body{
    background-color: rgb(253, 251, 251);
    font-family: Arial, Helvetica, sans-serif;
}

#cabeçalho{
    background-color: green;
    color: white;
}

.classe{
    color: white;
}

#minha_foto{
    border-radius: 20%;
}

#fim{
    background-color: green;
    color: white;
}